In [1]:
# Import the dependencies. 
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

### Read the csv file to get the list of cities

In [2]:
# Store the csv saved in the part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-08-06 17:35:S,-54.8000,-68.3000,35.26,93,40,24.16
1,1,Chuy,UY,2021-08-06 17:38:S,-33.6971,-53.4616,65.61,73,85,8.16
2,2,Eidsvag,NO,2021-08-06 17:38:S,62.7767,8.0668,75.25,59,64,1.32
3,3,Sao Cristovao,BR,2021-08-06 17:38:S,-11.0147,-37.2064,82.31,65,40,17.27
4,4,Westport,US,2021-08-06 17:38:S,41.1415,-73.3579,91.08,52,1,1.01

In [3]:
# Get the data type. NOTE: THE MAPPYING MUST BE EITHER AN INTEGER OR FLOATING POINT.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use my API key. NOTE ONLY NEED TO CONFIGURE GMAPS TO USE API KEY ONCE.
gmaps.configure(api_key=g_key)

#### 1. Assign the locations to an array of latitude and logitude pairs. 
#### NOTE THIS IS THE GENRAL  SYNTAX

In [7]:
# # 1. Assign the locations to an array of latitude andlongitude pairs.
# locations = [latitude, longitude]

# # 2. Assign the weights variable to some values. 
# temperatures = [max_temp] # an array of length equal to the locations array length

# # 3. Assign the figure variable to the gmaps.figure() attribute. 
# fig = gmaps.figure()

# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in th elocations. 
# heatmap_layer = gmaps.heatmap_layer(locations, weights = temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)

# # 6. Call the figure to plot the data.
# fig

In [ ]:
#### Renove negative temperature since Google heatmaps do not plot neg. number. 
### To avoid a negative number error, we can add the following codes

In [19]:
# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]
#temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

# REPLACE THE ABOVE for LOOP WITH LIST COMPREHENSION
#[max(temp,0) for temp in max_temp]

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
## heat_layer = gmaps.heatmap_layer(locations, weights = max_temp) # includes all the temp, neg.& pos.
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp]) # Removed the neg. temp

# Add the heatmap layer. 
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Adjust Heatmap Zoon, Intensity, and Point Radius, rather than whole world.
### This if for 30.0 deg North and 31.0 deg East

In [29]:
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp]) # Removed the neg. temp

# Add the heatmap layer. 
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Zoom in some part of US and add the "max intensity" to make each measurement radius larger.

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

heat_layer = gmaps.heatmap_layer(locations, weights = temps, dissipating = False,
                max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create Percent Himidity Heatmap

In [47]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                    dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create Percent Cloudiness Heatmap

In [50]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, 
                                max_intensity = 300, point_radius =4)

fig.add_layer(heat_layer)

# Call the fgure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
### CReate the WIND SPEED Map

In [53]:
# Wend speed map. 
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]

fig = gmaps.figure(center =(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, wind_speed, dissipating = False, 
                max_intensity =300, point_radius = 4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Ask Customers their input. Convert the input to a floating number.

In [54]:
# Ask the customer add a minumum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

### Filter the data to match the search criteria

In [59]:
# Filter the dataset to find the cities that fit the criteria. 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Eidsvag,NO,2021-08-06 17:38:S,62.7767,8.0668,75.25,59,64,1.32
3,3,Sao Cristovao,BR,2021-08-06 17:38:S,-11.0147,-37.2064,82.31,65,40,17.27
5,5,Torbay,CA,2021-08-06 17:38:S,47.6666,-52.7314,81.37,77,40,25.32
7,7,Padang,ID,2021-08-06 17:38:S,-0.9492,100.3543,78.42,82,95,3.40
8,8,Gizo,SB,2021-08-06 17:38:S,-8.1030,156.8419,81.01,72,98,16.58
14,14,Kahului,US,2021-08-06 17:38:S,20.8947,-156.4700,79.84,90,20,16.11
20,20,Batavia,US,2021-08-06 17:36:S,41.8500,-88.3126,82.42,71,40,1.99
21,21,Jamestown,US,2021-08-06 17:38:S,42.0970,-79.2353,85.17,55,75,7.00
25,25,Boljevac,RS,2021-08-06 17:38:S,43.8303,21.9531,78.06,47,27,2.21
26,26,Chenzhou,CN,2021-08-06 17:38:S,25.8000,113.0333,77.25,96,83,2.24

In [60]:
preferred_cities_df.count()

City_ID       205
City          205
Country       205
Date          205
Lat           205
Lng           205
Max Temp      205
Humidity      205
Cloudiness    205
Wind Speed    205
dtype: int64

### CREATE A NEW DATAFRAME FRO PREFERRED_CITY_DF TO STORE CUSTOMER INFO AND ADD
### HOTEL INFORMATION.

In [61]:
# Create DataFrame called hotel_df to store hotel names along with city, 
# country, max temp, and coordinates. 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2         Eidsvag      NO     75.25  62.7767    8.0668
3   Sao Cristovao      BR     82.31 -11.0147  -37.2064
5          Torbay      CA     81.37  47.6666  -52.7314
7          Padang      ID     78.42  -0.9492  100.3543
8            Gizo      SB     81.01  -8.1030  156.8419
14        Kahului      US     79.84  20.8947 -156.4700
20        Batavia      US     82.42  41.8500  -88.3126
21      Jamestown      US     85.17  42.0970  -79.2353
25       Boljevac      RS     78.06  43.8303   21.9531
26       Chenzhou      CN     77.25  25.8000  113.0333

### Get the hotel inoformatoin. BE CAREFUL: I MAY BE CHARGED FOR USING NEARBY.

In [64]:
# Set parameters to search for a hotel. 
params = {
    "radius": 5000,
    "type": "Lodging",
    "key": g_key 
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and logitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and logitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotel from the results and store the name. 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping")

Hotel not found....skipping

In [67]:
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng     Hotel Name
2         Eidsvag      NO     75.25  62.7767    8.0668        Eidsvåg
3   Sao Cristovao      BR     82.31 -11.0147  -37.2064  São Cristóvão
5          Torbay      CA     81.37  47.6666  -52.7314     St. John's
7          Padang      ID     78.42  -0.9492  100.3543         Padang
8            Gizo      SB     81.01  -8.1030  156.8419           Gizo
14        Kahului      US     79.84  20.8947 -156.4700        Kahului
20        Batavia      US     82.42  41.8500  -88.3126         Aurora
21      Jamestown      US     85.17  42.0970  -79.2353      Jamestown
25       Boljevac      RS     78.06  43.8303   21.9531       Boljevac
26       Chenzhou      CN     77.25  25.8000  113.0333       Chenzhou

### Create a Max. Temp Heatmap from a Hotel DataFrame and Add Markers

In [69]:
# Add a hearmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, 
            dissipating = False, max_intensity = 300, point_radius = 4)

# Add markers
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

### Add pop-up marker for each city that displays the hotel name, city name, country name & max. temp.

In [72]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [73]:
# Add a hearmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, 
            dissipating = False, max_intensity = 300, point_radius = 4)

# Add markers
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))