## Deliverable 2. Create a Customer Travel Destinations Map.

In [24]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys
sys.path.append('..')

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,66.11,77,100,11.36,overcast clouds
1,1,Griffith,US,41.5284,-87.4237,69.73,95,40,0.00,scattered clouds
2,2,Mataura,NZ,-46.1927,168.8643,38.48,97,100,2.66,overcast clouds
3,3,Flinders,AU,-34.5833,150.8552,61.21,63,0,7.31,clear sky
4,4,Georgetown,MY,5.4112,100.3354,89.55,72,20,11.50,thunderstorm

### Ask for customer input and convert the input to a floating number.

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature (in F) would you like for your trip?  "))
max_temp = float(input("What is the maximum temperature (in F) would you like for your trip?  "))

What is the minimum temperature (in F) would you like for your trip?  73
What is the maximum temperature (in F) would you like for your trip?  85

### Create a new DataFrame using loc method. Determine and remove empty rows.

In [16]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
vacation_city_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                   (city_data_df["Max Temp"] >= min_temp)]
vacation_city_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Krasnoselkup,RU,65.7000,82.4667,81.28,39,6,1.61,clear sky
8,8,Kavieng,PG,-2.5744,150.7967,83.26,74,39,15.10,light rain
9,9,Bucerias,MX,20.7500,-105.3333,75.97,100,100,3.80,overcast clouds
11,11,Butaritari,KI,3.0707,172.7902,83.32,69,10,7.36,clear sky
15,15,Mount Isa,AU,-20.7333,139.5000,74.97,14,0,11.50,clear sky
19,19,Bambous Virieux,MU,-20.3428,57.7575,75.45,60,75,11.50,broken clouds
22,22,Auki,SB,-8.7676,160.7034,78.48,82,99,3.09,overcast clouds
26,26,Port Blair,IN,11.6667,92.7500,82.44,83,90,6.91,overcast clouds
28,28,Hilo,US,19.7297,-155.0900,74.25,94,90,5.75,moderate rain
29,29,Umm Kaddadah,SD,13.6017,26.6876,77.11,72,100,18.19,overcast clouds

In [18]:
# 4a. Determine if there are any empty rows.
vacation_city_df.count()

City_ID                226
City                   226
Country                226
Lat                    226
Lng                    226
Max Temp               226
Humidity               226
Cloudiness             226
Wind Speed             226
Current Description    226
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

### There is no null rows here. 
### We would use dropna() method to remove the empty rows in in Step #3

### Create a Hotel Information DataFrame with relevant information

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = vacation_city_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Krasnoselkup,RU,81.28,clear sky,65.7000,82.4667,
8,Kavieng,PG,83.26,light rain,-2.5744,150.7967,
9,Bucerias,MX,75.97,overcast clouds,20.7500,-105.3333,
11,Butaritari,KI,83.32,clear sky,3.0707,172.7902,
15,Mount Isa,AU,74.97,clear sky,-20.7333,139.5000,
19,Bambous Virieux,MU,75.45,broken clouds,-20.3428,57.7575,
22,Auki,SB,78.48,overcast clouds,-8.7676,160.7034,
26,Port Blair,IN,82.44,overcast clouds,11.6667,92.7500,
28,Hilo,US,74.25,moderate rain,19.7297,-155.0900,
29,Umm Kaddadah,SD,77.11,overcast clouds,13.6017,26.6876,

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrow():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add location parameter --> Latidue and Longitude to a Location key --FMJ
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [ ]:
# # Set parameters to search for a hotel. 
# params = {
#     "radius": 5000,
#     "type": "Lodging",
#     "key": g_key 
# }

# # Iterate through the DataFrame.
# for index, row in hotel_df.iterrows():
#     # Get the latitude and logitude.
#     lat = row["Lat"]
#     lng = row["Lng"]
    
#     # Add the latitude and longitude to location key for the params dictionary.
#     params["location"] = f"{lat}, {lng}"
    
#     # Use the search term: "lodging" and our latitude and logitude.
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
#     # Make request and get the JSON data from the search.
#     hotels = requests.get(base_url, params = params).json()
    
#     # Grab the first hotel from the results and store the name. 
#     try:
#         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
#     except (IndexError):
#         print("Hotel not found....skipping")

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure