## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# To import g_key from a different folder, need the "sys.path.append('..')"
import sys
sys.path.append('..')

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Open and Read the file that has hotel, city, coutntry information

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Georgetown,MY,89.55,thunderstorm,5.4112,100.3354,Cititel Penang
1,7,Krasnoselkup,RU,81.28,clear sky,65.7000,82.4667,Krasnosel'kupnefteprodukt
2,8,Kavieng,PG,83.26,light rain,-2.5744,150.7967,Nusa Island Retreat
3,9,Bucerias,MX,75.97,overcast clouds,20.7500,-105.3333,Villa del Palmar Flamingos Beach Resort & Spa ...
4,11,Butaritari,KI,83.32,clear sky,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...,...
210,690,Hargeysa,SO,82.54,few clouds,9.5600,44.0650,City Center Hotel
211,693,Kinablangan,PH,83.93,overcast clouds,7.6947,126.5503,Danny Moreno Property
212,695,Bouna,CI,75.69,broken clouds,9.2667,-3.0000,Hotel Reserve
213,698,Port Keats,AU,86.16,clear sky,-14.2500,129.5500,TDC Village (Hundred Man Camp)
214,706,Changji,CN,88.59,few clouds,44.0167,87.3167,Lvye Holiday Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} \N{DEGREE SIGN} F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# 4b. Display the figure
# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create Four Cities DataFrame. I chose my cities from India.

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Tura")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Tura")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Guna")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Dwarka")] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Kharhial"] 

vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
160,549,Kharhial,IN,87.73,overcast clouds,20.2833,82.7667,Jeevan Chhaya

### Latitude-Longitude pairs are Created.

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]  

print(stop3)

(20.2833, 82.7667)

### Show the route in a map. I chose Driving because the cities are too far to walk or bike in the summer.

In [7]:
# Import gmaps datasets to make the route
import gmaps.datasets

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
tura2dwarka_4_cities = gmaps.directions_layer(start, end,
                waypoints = [stop1, stop2, stop3],
                travel_mode = "DRIVING")
fig.add_layer(tura2dwarka_4_cities)
fig

# NOTE: COULD NOT FIND ANY BICYCLING ROUTE. WALKING WOULD BE TEDIUS BUT ACHEIVABLE

Figure(layout=FigureLayout(height='420px'))

### Create the DataFrame and maps of the four vacation cities.

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2,
                         vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,414,Tura,IN,78.42,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
1,624,Guna,IN,83.17,overcast clouds,24.6500,77.3167,Hotel G K Jain
2,627,Dwarka,IN,85.28,broken clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
3,549,Kharhial,IN,87.73,overcast clouds,20.2833,82.7667,Jeevan Chhaya

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} \N{DEGREE SIGN} F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Assign the figure variable.
fig = gmaps.figure(center = (35.0, 36.0), zoom_level = 1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))